
body{
    background: #EFEFEF;
    margin: 0;
  }
.clearfix::after{
    content: '';
    display: block;
    clear: both;
  }
  *{
      margin: 0;
      padding: 0
  }
a{
    color: inherit;
    text-decoration: none;
  }
  .topNavBar{
    padding: 19px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.4s all;
    color: #B1B2B2;
  }
  .topNavBar.sticky{
      padding: 10px 0;
      background: white;
      z-index: 1;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
      color: black;
  }
  .topNavBar-inside{
      padding: 0 16px;
  }
  .topNavBar nav{
    padding-top: 8px;
    padding-bottom: 2px
  }
  .topNavBar .logo{
      font-size: 26px;
      font-family: "Segoe UI Black";
      padding-top: 2px;
      padding-bottom: 2px;
  }
  .topNavBar .logo .rs{
      margin-right: 5px;
      color: #E86767;
  }
  .topNavBar .logo .card{
      color: #9A9DA2;
  }
  .topNavBar nav ul{
      list-style: none;
      margin: 0;
      padding: 0;
  }
  .topNavBar nav ul>li{
      float: left;
      margin-left: 17px;
      margin-right: 17px;
  }
  .topNavBar nav ul>li>a{
      color: inherit;
      font-weight: bold;
      font-size:12px;
      border-bottom: 3px solid transparent;
      border-top: 3px solid transparent;
      padding: 5px 0;
      display: block;
  }
  .topNavBar nav ul>li>a:hover{
      border-bottom: 3px solid #E86767
  }
  .banner{
      height: 515px;
      background-image: url(../img/rs-cover.jpg);
      background-position: center center;
      background-size: cover;
  }
  .banner .mask{
      height: 515px;
      background-color: rgba(0,0,0, 0.8);
  }
  .MyCard{
      max-width: 940px;
      margin-left: auto;
      margin-right: auto;
      background-color: #FFFFFF;
      box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.25);      
  }
  .MyCard .welcome{
      background: #E86767;
      color: #FFFEFE;
      display: inline-block;
      padding: 4px 15px;
      line-height:22px; 
      position: relative;
  }
  .MyCard .triangle{
      display: block;
      border:8px solid transparent;
      border-left-color: #E86767;
      border-top:0px;
      left: 5px;
      top: 100%;
      position:absolute;
  }
  .pictureAndtext{
      padding: 50px;
  }
  .MyCard .picture{
      float: left;
     
  }
  .MyCard .picture>img{
      width: 299px;
      height: 347px;
  }
  .MyCard .text{
      float: left;
      margin-left: 65px;
      width: 473px;
  }
  .MyCard .text h1{
      margin-top: 27px;
      margin-bottom: 6px;
  }
  .MyCard .text hr{
      margin: 20px 0
  }
  .MyCard dl dt,
  .MyCard dl dd{
      float: left;
      margin: 7px 0;
  }
  .MyCard dl dt{
      width: 30%;
      font-weight: bold;
  }
  .MyCard dl dd{
      width: 70%;
      color: #9DA0A7
  }
  .MyCard .media{
      background: #E86767;
      text-align: center;
  }
  .MyCard .media a{
      display: inline-block;
      width: 40px;;
      line-height: 30px;
      padding: 5px 0;
      border-radius: 50%;
      margin: 20px 22px;
  }
  .MyCard .media a:hover{
      background: #D05C5C;
  }
  .MyCard svg{
      width: 30px;
      height: 30px;
      fill: white;
      vertical-align: top;
  }
  main{
    margin-top: -345px
  }
  main .downloadbutton{
    display: inline-block;
    background: #EFEFEF;
    border: 1px solid #CDCFD1;
    border-radius: 3px;
    color: #3d4451 ;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    padding: 21px 55px;
    margin: 36px auto;
  }
  main .downloadbox{
    text-align: center
    }
  .downloadbutton:hover{
    transition: box-shadow 0.3s;
    box-shadow:0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
  .introduction{                  /*自我介绍*/
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 宋体;
    font-size: 19px;
    line-height: 1.8;
  }
  ul ,ol{
      list-style: none;
  }
  section.skills,
  section.portfolio{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 56px;
  }
  section.skills>h2,
  section.portfolio>h2{
      text-align: center;
      color: #3D4451;
      font-size: 34px;
      font-weight: 600;
      line-height: 1.2;
      margin-bottom: 30px;
      margin-top: 76px;
  }
  section.skills>ol{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.25);
    padding: 40px 50px 8px;
  }
  section.skills > ol > li{
      float: left;
      width: 48.3%;
      box-sizing: border-box;
  }
  section.skills > ol > li:nth-child(even){
      float: right;
  }
  section.skills h3{
      font-weight: normal;
      font-size: 14px;
      line-height: 1.1;
      padding-right: 40px;
  }
  section.skills .ProgressBar{         /*技能条*/
      background-color: #FAE1E1;
      height: 5px;
      border-radius: 3px;
      margin:4px 0 40px 0;
  }
  section.skills .ProgressBar .Progress{
      background-color: #E86767;
      height: 100%;
      border-radius: 3px  
  }
  section.portfolio{
      text-align: center;
  }
  section.portfolio>nav{
      text-align: center;
      display: inline-block;
      vertical-align: top;
  }
  section.portfolio>nav>ol{
    display: inline-block;
    vertical-align: top;

  }
  section.portfolio>nav li{
      float: left;
      margin-left: 40px;     
      cursor: pointer;
  }
  section.portfolio>nav li:nth-child(1){
      margin-left: 0;
  }
  section.portfolio>nav .Bar{
      
      height: 5px;
      margin-top: 14px;
      margin-bottom: 28px;
      border-radius: 2px;
      background: #FFFFFF
    }
  section.portfolio>nav>.Bar>.BarInner{
      height: 100%;
      background: #E86767;
      width: 10%;
      border-radius: 2px;
      transition: all 0.5s;
  }
  section.portfolio>nav>.Bar.state-1>.BarInner{
      margin-left: 0;
      width: 32px;
  }
  section.portfolio>nav>.Bar.state-2>.BarInner{
    margin-left: 73px;
    width: 32px;
  }
  section.portfolio>nav>.Bar.state-3>.BarInner{
    margin-left: 144px;
    width: 90px;
  }
  section.portfolio .works{
      position: relative;
      height: 597px;
      margin-bottom: 50px;
  }
  section.portfolio .works>.big{
      position: absolute; 
      top: 0;
      left: 10px;
  }
  section.portfolio .works>.small-1{
      position: absolute;
      top: 0;
      left: 635px
  }
  section.portfolio .works>.small-2{
      position: absolute;
      top:312px;
      left: 635px
  }
